@font-face {
  font-family: 'Lato Regular';
  src: url("/fonts/Lato-Regular.eot");
  src: url("/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/fonts/Lato-Bold.eot");
  src: url("/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato Regular';
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.btn {
  background-color: rgba(217, 18, 51, 0);
  border: 2px solid #d91233;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.7rem 6.8rem;
}

.active {
  background-color: #d91233;
}

.header {
  background: url(/img/bg-header.png) no-repeat center;
  background-size: cover;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 9.4rem;
}

.contacts__logo {
  color: #5a5a5a;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts__communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__tel {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 700;
  text-decoration: none;
}

.contacts__feedback {
  color: #d91233;
  font-size: 1.6rem;
  text-align: right;
}

.main {
  text-align: center;
}

.main .title {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main .subtitle {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  padding: 2.6rem 0;
  margin-bottom: 7.1rem;
}

.main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .services__icon {
  padding: 3.6rem;
}

.main .services__text {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 10rem;
}

.main .services .icon {
  padding-bottom: 4.3rem;
}

.main .request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.7rem;
}

.main .request__block {
  margin: 2rem;
}

.main .request__text {
  color: #ffffff;
  font-size: 1.4rem;
  text-align: cetnter;
  margin: 2rem auto;
  max-width: 16rem;
}

.about-us {
  margin: 5rem 0 7rem;
}

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__item {
  text-align: center;
  margin: 3rem;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
}

.about-us__icon {
  margin-bottom: 3rem;
}

.about-us__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about-us__text {
  font-size: 1.4rem;
  font-weight: 400;
}

.detailed-request {
  display: block;
  background: #ebebeb;
}

.detailed-request__title {
  font-size: 3rem;
  font-weight: 700;
  padding: 8rem 0 2.1rem;
  text-align: center;
}

.detailed-request__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 6rem;
  text-align: center;
}

.detailed-request__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailed-request__form-wrap .row {
  -ms-flex-preferred-size: 24rem;
      flex-basis: 24rem;
}

.detailed-request__form-wrap .row div {
  margin: 2rem;
}

.detailed-request__form-wrap label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: .8rem;
  font-weight: 700;
}

.detailed-request__form-wrap select, .detailed-request__form-wrap textarea, .detailed-request__form-wrap input {
  font-size: 1.3rem;
  width: 24rem;
}

.detailed-request__form-wrap select, .detailed-request__form-wrap input {
  height: 4rem;
}

.detailed-request__form-wrap textarea {
  height: 11.8rem;
  resize: none;
}
/*# sourceMappingURL=style.css.map */