@font-face {
  font-family: 'Lato Regular';
  src: url("/fonts/Lato-Regular.eot");
  src: url("/fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Regular.woff") format("woff"), url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("/fonts/Lato-Bold.eot");
  src: url("/fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Lato-Bold.woff") format("woff"), url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato Regular';
}

html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.btn {
  background-color: rgba(217, 18, 51, 0);
  border: 2px solid #d91233;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.7rem 6.8rem;
}

.active {
  background-color: #d91233;
}

.header {
  background: url(/img/bg-header.png) no-repeat center;
  background-size: cover;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

.contacts__logo {
  color: #5a5a5a;
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts__communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__tel {
  color: #ffffff;
  font-size: 2.8rem;
  font-weight: 700;
  text-decoration: none;
}

.contacts__feedback {
  color: #d91233;
  font-size: 1.6rem;
  text-align: right;
}

.main {
  text-align: center;
}

.main .title {
  color: #ffffff;
  font-size: 4.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 6.4rem;
}

.main .subtitle {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 400;
  padding: 2.6rem 0;
  margin-bottom: 7.1rem;
}

.main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .services__icon {
  padding: 3.6rem;
}

.main .services__text {
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  margin-bottom: 10rem;
}

.main .services .icon {
  padding-bottom: 4.3rem;
}

.main .request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.7rem;
}

.main .request__block {
  margin: 2rem;
}

.main .request__text {
  color: #ffffff;
  font-size: 1.4rem;
  text-align: cetnter;
  margin: 2rem auto;
  max-width: 16rem;
}

.about-us {
  padding: 5rem 0 7rem;
}

.about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__item {
  text-align: center;
  margin: 3rem;
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
}

.about-us__icon {
  margin-bottom: 3rem;
}

.about-us__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.about-us__text {
  font-size: 1.4rem;
  font-weight: 400;
}

.detailed-request {
  display: block;
  background: #ebebeb;
  padding-bottom: 8rem;
}

.detailed-request__title {
  font-size: 3rem;
  font-weight: 700;
  padding: 8rem 0 2.1rem;
  text-align: center;
}

.detailed-request__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 6rem;
  text-align: center;
}

.detailed-request__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px solid #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailed-request__form-wrap .row {
  -ms-flex-preferred-size: 24rem;
      flex-basis: 24rem;
}

.detailed-request__form-wrap .row div {
  margin: 2rem;
}

.detailed-request__form-wrap label {
  display: block;
  font-size: 1.3rem;
  margin-bottom: .8rem;
  font-weight: 700;
}

.detailed-request__form-wrap select, .detailed-request__form-wrap textarea, .detailed-request__form-wrap input {
  padding: 1.4rem 1.7rem;
  font-size: 1.3rem;
  width: 24rem;
}

.detailed-request__form-wrap textarea {
  height: 12.8rem;
  resize: none;
}

.car-brands {
  padding: 8rem 0 6rem;
}

.car-brands__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 6rem;
}

.car-brands__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.car-brands__logo img {
  -ms-flex-preferred-size: 14rem;
      flex-basis: 14rem;
  margin: 1rem;
  opacity: .4;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.car-brands__logo img:hover {
  opacity: 1;
}

.broadcast {
  padding-bottom: 8rem;
}

.broadcast__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}

.broadcast__video {
  border: 5px solid #f2f2f2;
  padding: 2rem;
}

.broadcast__video video {
  width: 100%;
  max-height: 100%;
}

.reviews {
  background-color: #ebebeb;
  padding: 8rem 0 2.3rem;
}

.reviews__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}

.reviews__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 43.6rem;
      flex-basis: 43.6rem;
}

.reviews__text {
  padding-bottom: 5.5rem;
}

.reviews__avatar {
  margin-right: 2.1rem;
  height: 90px;
}

.reviews__name {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 1.2rem;
}

.reviews__subtitle {
  color: #d91233;
  padding-bottom: 1.4rem;
  font-size: 1.6rem;
}

.reviews__coments {
  font-size: 1.3rem;
  font-weight: 700;
}

.consultation {
  background-color: #dbdbdb;
  padding: 8rem 0;
}

.consultation__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.1rem;
}

.consultation__subtitle {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 6rem;
}

.consultation__form {
  border: 5px solid #ffffff;
  padding: 4rem 4rem 4.5rem;
  max-width: 75rem;
  margin: 0 auto;
}

.consultation__form .btn {
  display: block;
  margin: 0 auto;
}

.consultation__form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.consultation__form-wrap div {
  -ms-flex-preferred-size: 29rem;
      flex-basis: 29rem;
  margin: 2rem;
}

.consultation__form-wrap label {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.consultation__form-wrap input {
  font-size: 1.3rem;
  width: 29rem;
  height: 4.5rem;
}

.map {
  position: relative;
  overflow: hidden;
}

.map__banner {
  position: absolute;
  background-color: #d91233;
  padding: 6rem 10rem;
  top: 5rem;
  left: 50%;
  margin-left: -24rem;
  width: 48rem;
  height: 29rem;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 99;
}

.map__banner .close {
  position: absolute;
  top: -5px;
  right: 5px;
  font-size: 4rem;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.map__banner .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.map__hide-banner {
  position: absolute;
  background-color: #d91233;
  left: 50%;
  margin-left: -24rem;
  width: 48rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  z-index: 99;
}

.map__hide-banner .arrow {
  display: block;
  color: #ffffff;
  cursor: pointer;
  padding-top: 3rem;
  font-size: 2.5rem;
  text-align: center;
}

.map__contacts {
  font-size: 2.4rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 4rem;
}

.map__address {
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.map__tel {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 3rem;
}

.map__mail {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.footer__tel {
  color: #000000;
}
/*# sourceMappingURL=style.css.map */