.detailed-request
    display: block
    background: $form-color
    padding-bottom: 8rem
    &__title
        font-size: 3rem
        font-weight: 700
        padding: 8rem 0 2.1rem
        text-align: center
    &__subtitle
        font-size: 1.6rem
        font-weight: 400
        padding-bottom: 6rem
        text-align: center
    &__form-wrap
        display: flex
        border: 5px solid #ffffff
        flex-wrap: wrap
        padding: 4rem
        justify-content: center
        .row
            flex-basis: 24rem
            div
                margin: 2rem
        label
            display: block
            font-size: 1.3rem
            margin-bottom: .8rem
            font-weight: 700
        select, textarea, input
            padding: 1.4rem 1.7rem
            font-size: 1.3rem
            width: 24rem
        textarea
            height: 12.8rem
            resize: none